@media (max-width: 1200px){
	
	.navbar-main .navbar-nav{
		*position: relative;
	}
	.menu-search-disabled{ position: absolute !important; left: 100%; }
	
	
}

/* Small screens < 768 */
@media (max-width: 1000px) {
	
	.navbar-main .navbar-nav{
		*position: relative;
		white-space: nowrap !important;
	}
	.menu-search-disabled{ position: absolute !important; left: 100%; }
	.container{ width: 100%; }
	
}

/* Mobile */
@media (max-width: 480px) {
	
	body.content header{ height: 35vh; background: url(../images/maja-wide.jpg) no-repeat center top; background-size: 400%; }
	
	.logo img{ max-width: 80%; }
	
	.col-lg-fifth{ width: 100%; }
	.col-lg-fifth,
	.col-lg-fifth a{ color: #FFF; }
	
	/* Trail */
	.trail{ margin-bottom: 15px; margin-left: -15px; margin-top: -15px; }
	
	.slogan p{ font-size: 24px; line-height: 30px; }
	.slogan .btn-header{ max-width:100%; white-space: normal; margin-left:10px; margin-right: 10px; }
}


